.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.fullCenter {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
