.package-list-container {
  width: 100%;
  padding: 48px;
  display: flex;
  flex-direction: column;

  .package-name {
    margin-bottom: 16px;
  }

  .package-list {
    display: flex;
    gap: 8px;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  .ant-table-wrapper {
    width: 100%
  }
}
