.container {
  min-height: calc(100vh - 64px);
  padding: 48px 16px;
}

.fullCenter {
  min-height: calc(100vh - 64px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.recentListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.welcomeScreenContainer {
  width: 100%;
}

.actions {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.title {
  margin: 0;
}

.listItem {
  cursor: pointer;
  padding: 12px !important;
  border-radius: 6px;
}
.listItem:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
