.node-management-container {
  .package-list-header {
    padding: 8px 24px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06)
  }

  .ant-menu {
    border-top: 1px solid rgba(5, 5, 5, 0.06)
  }

  .sider-container {
    border-right: 1px solid rgba(5, 5, 5, 0.06)
  }

  .action-buttons-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 24px;

    button {
      width: 100%;
    }
  }

  .empty-container {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    .empty-message {
      width: fit-content;
      height: fit-content;
    }
  }
}

.new-node-container {
  display: flex;
  flex-direction: column;
  margin: auto;
}

